
<div ng-controller="WadlParser">
    <form name="apiUrlForm" novalidate >
        <label for="url">Enter API url :</label>
        <input type="text" name="url" id="url" ng-model="apiHttpUrl"/>
        <button ng-click="loadWadlOnClick(apiHttpUrl,$event)">Load wadl</button>
        {{urlBack}}
    </form>

    <div class="jumbotron" ng-model="resources">
        <h2>{{resources.base}}</h2>
        <form name="apiRequestForm" novalidate >
             <select ng-model="selectedResource" ng-options="resource.path for resource in resources.innerArray"></select>
	          <h3>Url Parameters</h3>
	          <dl>
		          {{ resource.queryParams }}
		            <div ng-repeat="queryparam in selectedResource.queryParams">
			            <dt>{{queryparam.httpName}}</dt>
			            <dd ng-if="isString(queryparam)"><input type="text" class="queryParams" name="{{queryparam.httpName}} :"/></dd>
			            <dd ng-if="isNumber(queryparam)"><input type="number" class="queryParams" name="{{queryparam.httpName}} :"/></dd>
			            <dd ng-if="isBoolean(queryparam)"><input type="checkbox" class="queryParams" name="{{queryparam.httpName}} :"/></dd>

		            </div>
	            </dl>
	         <select ng-model="selectedMethod" ng-options="method.httpMethodName for method in selectedResource.methods"></select>
	         <h3>Form Parameters</h3>
	            <dl>
                    <div ng-repeat="param in selectedMethod.params">
                    <dt>{{param.httpName}}</dt>
                    <dd ng-if="isString(param)"><input type="text" class="queryParams" name="{{param.httpName}} :"/></dd>
                    <dd ng-if="isNumber(param)"><input type="number" class="queryParams" name="{{param.httpName}} :"/></dd>
                    <dd ng-if="isBoolean(param)"><input type="checkbox" class="queryParams" name="{{param.httpName}} :"/></dd>
                    </div>
                </dl>

	         <button ng-click="launchRequestOnClick(resource.path)">Ok</button>
	         {{ requestUrl }}
        </form>
    </div>
</div>